
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div class="row">
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="span5">
        <div class="thumbnail">
          <img data-src="holder.js/160x120" src="<%=@contact.pic_url%>" width="160"/>
        </div>
     <h4>Social Media</h4>
      <p>
        <%=f.label :facebook_id%> 
        <%=f.text_field :facebook_id%>
        <% if @contact.facebook_url %>
          <a href="<%=@contact.facebook_url%>">
            <%=image_tag "Facebook.png", width: 16%>
          </a>
        <%end%>
      <%=f.label :twitter_id%> <%=f.text_field :twitter_id%>
        <% if @contact.facebook_url %>
          <a href="<%=@contact.twitter_url%>">
            <%=image_tag "Twitter.png", width: 16%>
          </a>
        <%end%>
      <%=f.label :myspace_id%> <%=f.text_field :myspace_id%>
        <% if @contact.myspace_url %>
          <a href="<%=@contact.facebook_url%>">
            <%=image_tag "Myspace.png", width: 16%>
          </a>
        <%end%>

    </div>
    <div class="span5 well">
      <h4>General Details</h4>
      <p><%=f.label :first_name%> <%=f.text_field :first_name%>
      <%=f.label :last_name%> <%=f.text_field :last_name%>
      <%=f.label :gender%> <%=f.select :gender, [["Male", "m"],["Female","f"]]%>
    </div>
    <div class="span5">
      <h4>Other Important Details</h4>
      <p><%=f.label :is_group_or_parish%> <%=f.check_box :is_group_or_parish%>
      <%=f.label :youth_group_leader%> <%=f.text_field :youth_group_leader%>
      <%=f.label :school%> <%=f.text_field :school%>
      <%=f.label :graduating_class%> <%=f.text_field :graduating_class%>
      <%=f.label :birthday%> <%=f.date_select :birthday%>
    </div>
  </div>
  <div class="row">
      <div class="span5">
      <h4>Safe Child Video</h4>
      <p><%=f.label :watched_safe_child_video, "Watched?"%> <%=f.select :watched_safe_child_video, [['No', 0],["Yes", 1],["Opt-out", 3]]%>
      <%=f.label :safe_child_video_letter_sent%> <%=f.check_box :safe_child_video_letter_sent%>
      </div>
  </div>
  <div class="row actions">
    <%= f.submit 'Save Contact', class: "btn" %>
  </div>
<% end %>