
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div class="row">
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h4>
        <ul>
        <% @contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="btn-group">
   <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <i class="icon-ok icon-white"></i> Save
    <% end %>
   <% if @contact.id then %>
   <%= link_to @contact, data: { confirm: 'Are you sure you want to delete contact '+@contact.first_name + ' ' + @contact.last_name+'?', disable_with: 'deleting...' }, method: :delete, class: 'btn-danger btn' do %>
  <i class="icon-trash icon-white"></i> Delete
<% end %>


    <%#= f.submit 'Save Contact', class: "btn btn-primary", name:"save" %>
      <%#= button_to raw('<i class="icon-trash"/> Delete Contact'),{:controller => :contacts, 
      :action => 'destroy', :id => @contact.id }, :method => :delete, :confirm => "'Delete Contact '"+@contact.first_name+" "+@contact.last_name+"?", :title => 'Delete Contact?', class: "btn btn-danger"%>
    <% end %>
   </div>
  <div class="row">
    <div class="span5">
        <% if @contact.id then %>
        <div class="thumbnail" style="text-align:center; vertical-align:midle; padding-top:30px; padding-bottom:30px">
          <%=link_to raw(image_tag "/contacts/#{@contact.id}/image", width:160), new_contact_image_path(@contact) %>
        </div>
          <% if @contact.image_id then %>
             <%= link_to [@contact,@contact.image], data: { confirm: 'Are you sure you want to delete this image?', disable_with: 'deleting...' }, method: :delete, class: 'btn-danger btn btn-small' do %>
              <i class="icon-trash icon-white"></i> Delete This Image
             <% end %>

          <% end %>
        <% end %>
    </div>
    <div class="span5 well">
      <h4>General Details</h4>
      <p><%=f.label :first_name%> <%=f.text_field :first_name%>
      <%=f.label :last_name%> <%=f.text_field :last_name%>
      <%=f.label :gender%> <%=f.select :gender, [["Male", "m"],["Female","f"]]%>
       </div>
    </div>
  <div class="row">
    <div class="span5">
   <h4>Social Media</h4>
      <p>
        <%=f.label :facebook_id%> 
        <%=f.text_field :facebook_id, placeholder: "Facebook"%>
        <% if @contact.facebook_url %>
          <a href="<%=@contact.facebook_url%>" target="_blank">
            <%=image_tag "Facebook.png", width: 16%>
          </a>
        <%end%>
      <%=f.label :twitter_id%> <%=f.text_field :twitter_id, placeholder: "Twitter"%>
        <% if @contact.twitter_url %>
          <a href="<%=@contact.twitter_url%>" target="_blank">
            <%=image_tag "Twitter.png", width: 16%>
          </a>
        <%end%>
      <%=f.label :myspace_id%> <%=f.text_field :myspace_id, placeholder: "Myspace"%>
        <% if @contact.myspace_url %>
          <a href="<%=@contact.myspace_url%>" target="_blank">
            <%=image_tag "Myspace.png", width: 16%>
          </a>
        <%end%>
     </div>
    <div class="span5">
      <h4>Other Important Details</h4>
      <p><%=f.label :is_group_or_parish%> <%=f.check_box :is_group_or_parish%>
      <%=f.label :youth_group_leader%> <%=f.text_field :youth_group_leader%>
      <%=f.label :school%> <%=f.text_field :school%>
      <%=f.label :graduating_class%> <%=f.text_field :graduating_class%>
    </div>
  </div>
  <div class="row">
    <div class="span5">
     <h4>Safe Child Video</h4>
      <p><%=f.label :watched_safe_child_video, "Watched?"%> <%=f.select :watched_safe_child_video, [['No', 0],["Yes", 1],["Opt-out", 3]]%>
      <%=f.label :safe_child_video_letter_sent%> <%=f.check_box :safe_child_video_letter_sent%>
     </div>
    <div class="span5">
     <h4>Birthday</h4>
      <%=f.date_select :birthday%>
     </div>
  </div>
  <div class="row">
      <div class="span5">
      <h4>Health</h4>
      <%=f.label :allergies%> <%=f.text_field :allergies%>
      <%=f.label :diet_restrictions%> <%=f.text_field :diet_restrictions%>
      <%=f.label :medical%> <%=f.text_field :medical%>
      </div>
      <div class="span5">
     <h4>Address</h4>
        <%# @contact.build_address1 if @contact.address1.nil? %>
        <%= fields_for :address1, @contact.address1 do |address1_fields| %>
          <%=address1_fields.label :street%> <%=address1_fields.text_field :street%>
          <%=address1_fields.label :city%> <%=address1_fields.text_field :city%>
          <%=address1_fields.label :state%> <%=address1_fields.text_field :state, maxlength: 2%>
          <%=address1_fields.label :zipcode%> <%=address1_fields.text_field :zipcode%>
        <% end %>
    </div>
  </div>
  <div class="row">
   <div class="span5">
    <h4>Phone Numbers</h4>
       <%=f.label :phone %> <%=f.telephone_field :phone%>
      <%=f.label :fax %> <%=f.telephone_field :fax%>
      <%=f.label :work_phone %> <%=f.telephone_field :work_phone%>
      <%=f.label :cell %> <%=f.telephone_field :cell%>
    </div>
  </div>
  <div class="btn-group">
   <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <i class="icon-ok icon-white"></i> Save
    <% end %>
   <% if @contact.id then %>
   <%= link_to @contact, data: { confirm: 'Are you sure you want to delete contact '+@contact.first_name + ' ' + @contact.last_name+'?', disable_with: 'deleting...' }, method: :delete, class: 'btn-danger btn' do %>
  <i class="icon-trash icon-white"></i> Delete
<% end %>


    <%#= f.submit 'Save Contact', class: "btn btn-primary", name:"save" %>
      <%#= button_to raw('<i class="icon-trash"/> Delete Contact'),{:controller => :contacts, 
      :action => 'destroy', :id => @contact.id }, :method => :delete, :confirm => "'Delete Contact '"+@contact.first_name+" "+@contact.last_name+"?", :title => 'Delete Contact?', class: "btn btn-danger"%>
    <% end %>
   </div>
<% end %>