
<%= form_for @date_event do |f| %>
<%=f.submit %>
 <ul class="thumbnails">
 <% @contacts.each do |contact| %>
    <li class="span2">
      <div id="contact_thumbnail_<%=contact.id%>" class="thumbnail" style="text-align:center;height:240px;width">
      	<%= f.check_box :contacts, onclick: "highlightCell('contact_thumbnail_#{contact.id}', this)" %>
         <%=link_to (image_tag "/contacts/#{contact.id}/image", width:"160", alt:'"+contact.first_name + " " + contact.last_name + "'), contact %>
        <h4><%=link_to raw(contact.first_name + " " + contact.last_name), contact%></h4>
        </div>

   </li>
  <% end if @contacts  %>
  </ul>
  <% end %>
